.bar {
    fill: rgba(95, 21, 163, 0.808);
  }
  
.bar:hover {
    fill: darkgray;
}

line {
    stroke: black;
    stroke-width: 1.5px
}

.axis-label {
    font-size: 10px;
    font-style: sans-serif;
  }
  
.axis-label:hover {
  font-size: 12.5px;
  font-style: sans-serif;
}

.label {
    font: 8.5px sans-serif;
    fill: black;
  }
#title{
    font: 12px sans-serif;
    fill: black;
}


