* {
  margin: 0;
  padding: 0;
}

.bar {
    fill: rgba(95, 21, 163, 0.808);
  }
  
.bar:hover {
    fill: darkgray;
}

line {
    stroke: black;
    stroke-width: 1.5px
}

.axis-label {
    font-size: 10px;
    font-style: sans-serif;
  }

.axis-label:hover {
  font-size: 12.5px;
  font-style: sans-serif;
}

.label {
    font: 3px sans-serif ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    fill: black;
  }
#title{
    font: 12px sans-serif;
    fill: black;
}

.lbl{
  font: 5px sans-serif;
  
  fill: black;
}

.box{
  display: inline-block;
  width: 5px;
  height: 5px;
}
.line{
  width: 30px;
  height: 8px;
}

.sector:hover {
  fill: darkgray;
}

.pieChartLabels{
  font-size: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  fill: black;
}

/*  */

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 10s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}